* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-image: url(cozinha-industrial\ 1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

nav {
    display: flex;
    justify-content: space-around;
    color: #8FCA55;
    /* padding-top: 30px; */
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}

.botao {
    display: flex;
    color: #8FCA55;
}
#carrinho-nav{
    background-color: #80cd296b;
    padding: 3%;
}

#imagem-geral img{
    width: 800px;
    margin-top: 150px;
    margin-left: 550px;
}

